@charset "UTF-8";
/*main
------------------------------------------*/
main{
	width : 100%;
	margin:0 auto;
	height: 100vh;
}

table{
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
}
table,th,td{
	border: none;
	padding: 10px;
}

h2{
	margin-top: 10px;
	font-size: 32px;
	text-align: center;
}


/*form
--------------------------------------*/
.login-box{
	width : 50%;
	margin : 0 auto;
}

main a{
 text-decoration : none;
 color : #333;
 	width : 50%;
	margin : 0 auto;
	display : block;

}

th,td{
	padding: 10px 0;
}
/* ボタン
------------------------- */
.btn-login{
	background-color: #333;
	color: #fff;
}
.btn-login:hover{
	background-color:#fff;
	color:#333;
}
/*スマホのスタイル*/
@media screen and (max-width : 559px){
	table{
	width: 80%;
	margin: 20px auto 40px;
	border-collapse: collapse;
}


table th{
	display: block;
	width: 100%;
	background-color: #EAEAEA;
}



 table td{
	width: 100%;
	display: block;
  padding: 10px 0;
	text-align: center;
}
}
