@charset "UTF-8";
/* 全体領域
----------------------------------- */
*{
	box-sizing: border-box;
}
/* main
-------------------------------- */
main{
	width : 100%;


}
.wrap img:hover{
 opacity : 0.8;
 filter : brightness(115%);
}
/* pcのスタイル */
@media screen and (min-width : 1000px){
	/* main
	------------------------------------ */
.wrap{
	max-width : 1000px;
	margin : 0 auto;
}

.wrap .product{
	float : left;
	width : 333px;
	padding : 5px;
 	margin-top: 20px;
	 margin-bottom: 100px;
}
.product img{
border-radius: 10px;
border: 1px solid rgb(179, 177, 177);
	object-fit : cover;
	width : 294px;
	height : 400px;
}
.product p{
	color: #333;
	font-size: 25px;
	font-weight: bold;
	padding: 0 10px;
}
.product p span{
	color: #333;
	font-size: 18px;
	font-weight: normal;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
}
/*タブレットのスタイル*/

@media screen and (min-width : 560px) and (max-width : 999px){
	/* main
	------------------------------------ */
.wrap{
	width : 600px;
	margin : 0 auto;
}

.wrap .product{
	float : left;
	width : 200px;
 	margin-top: 20px;
	margin-bottom: 100px;
}

.product img{
border-radius: 10px;
border: 1px solid rgb(179, 177, 177);
	object-fit : cover;
	width : 200px;
	height : 400px;
}
.product p{
	color: #333;
	font-size: 25px;
	font-weight: bold;
	padding: 0 10px;
}
.product p span{
	color: #333;
	font-size: 18px;
	font-weight: normal;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
}
/*スマホのスタイル*/
@media screen and (max-width : 559px){
	/* main
	----------------------------------------- */
	.product{
		margin: 0 0 100px;
	}
.product img{
	margin: 0 auto;
	border-radius: 10px;
  border: 1px solid rgb(179, 177, 177);
	object-fit : cover;
	width : 200px;
	height : 300px;
}
.product p{
	color: #333;
	font-size: 25px;
	font-weight: bold;
	padding: 0 10px;
}
.product p span{
	color: #333;
	font-size: 18px;
	font-weight: normal;
}
}