@charset "UTF-8";
/*共通
------------------*/

/*ボタン
-------------------*/
.button{
	width: 182px;
    height: 38px;
	background-color: #363636;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
	    margin-bottom: 56px;
}
.button a{
	color: #fff;
	font-family : 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	line-height: 38px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}
.button a:hover{
	background-color: #545454;
		border-radius: 5px;
}


/* pcのスタイル */
@media screen and (min-width : 1000px){
/* <!-- sumafo&ipad --> */
.menu2 #input,ul{
		display: none;
	}


/*top画像
----------------------------------*/
#topimage{
  width: 100%;

}
#topimage img{
	width : 80%;
		margin: 0 auto;

}
/* キャンペーンバナー 
---------------------------------------*/
.pic1{
	display: block;
	width: 710px;
  margin: 50px auto;
}
/*main
---------------------------------------*/
main{
	width : 100%;
}
main h2,p{
	font-family : 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	color : #232324;
	line-height : 2em;
}
.box{
	width : 80%;
	margin: 62px;
    margin-left: 260px;
}

.box-img img{
	width : 600px;
	height : 303px;
}
.box-text,.box-img{
	display : inline-block;
	vertical-align: middle;
}
.box-text{
	    margin-right: 100px;
}
.box-text1,.box-img1{
	display : inline-block;
	vertical-align: middle;

}
.box1 {
    width: 80%;
    margin: 20px;
    margin-left: 146px;
}
.box-text1{
	padding-left: 40px;
}

/*news
------------------------------------------*/
.wrap{
    width: 80%;
    margin: 0 auto;
    height: 500px;
}
.wrap .article1{
width : 20%;
height : 300px;
border : solid 1px #606048;
float : left;
margin: 31px 27px;
} 
.article1 img{
	object-fit : cover;
	width : 100%;
	height : 200px;
}
.news{
	color: #727768;
 font-weight :bold;
 font-size : 25px;
 font-family:'Arial', sans-serif,Verdana, "ヒラギノ角ゴ ProN W3",  メイリオ, Meiryo;
     margin: 10px 0 10px 145px;
		 border-bottom : solid 2px #727768;
		 width : 1100px;
}
.article1 p{
	text-align : left;
	padding: 15px;
	font-weight : bold;
}
.article1 time{
text-align : left;
color : #545454;
display : block;
margin-top : 12px;
    margin-left: 16px;
		font-size : 12px;

}

.clearfix{
	content: "";
	display: block;
	clear: both;
} 
}
/*タブレットのスタイル*/

@media screen and (min-width : 560px) and (max-width : 999px){
/*トップ画像
	----------------------------------*/
	#topimage .clearfix img{
		width: 90%;
		margin: 0 auto;
	}
	/* キャンペーンバナー 
---------------------------------------*/
.pic1{
	display: block;
	width: 510px;
  margin: 50px auto;
}
	/* フォントスタイル 
	-----------------------------------------------------*/
main h2,p{
	font-family : 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	color : #232324;
	line-height : 2em;
	text-align: center;
}
/*main
----------------------------------------*/
main img{
	width: 70%;
	display: block;
	margin: 0 auto;
}

main .box-img{
	 margin: 20px 0 100px;
 }
 .box,.box1{
    width: auto;
    margin: 0px;
    margin-left: 0;
}

/*news
-----------------------------------------*/
.news{
margin-top: 50px;
font-family: 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;
font-size: 40px;
}
.article1{
	margin-bottom: 50px;
}
.article1 p{
	font-size: 22px;
}
.article1 time{
	margin-left: 112px;
	font-size: 13px;
}
}
/*スマホのスタイル*/
@media screen and (max-width : 559px){
	/*トップ画像
	----------------------------------*/
	#topimage .clearfix img{
		width: 90%;
		margin: 0 auto;
	}
	/* キャンペーンバナー 
---------------------------------------*/
.pic1{
	display: block;
	width: 410px;
  margin: 50px auto;
}
	/* フォントスタイル 
	-----------------------------------------------------*/
main h2,p{
	font-family : 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	color : #232324;
	line-height : 2em;
}
/*main
----------------------------------------*/
main img{
	width: 70%;
	display: block;
	margin: 0 auto;
}

main .box-img{
	 margin: 20px 0 100px;
 }
 .box,.box1{
    width: auto;
    margin: 0px;
    margin-left: 0;
}

/*news
-----------------------------------------*/
.news{
margin-top: 50px;
font-family: 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;
font-size: 40px;
}
.article1{
	margin-bottom: 50px;
}
.article1 p{
	font-size: 22px;
}
.article1 time{
	margin-left: 56px;
	font-size: 13px;
}
}